{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "class-methods-use-this": 0,
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["error", "never"],
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0
  }
}
